apiVersion: v1
kind: Secret
metadata:
  name: aistor-env-configuration
  namespace: gitlab
type: Opaque
stringData:
  config.env: |-
    export MINIO_ROOT_USER=
    export MINIO_ROOT_PASSWORD=
    export MINIO_IDENTITY_OPENID_CONFIG_URL=
    export MINIO_IDENTITY_OPENID_CLIENT_ID=
    export MINIO_IDENTITY_OPENID_CLIENT_SECRET=
    export MINIO_IDENTITY_OPENID_CLAIM_NAME=
    export MINIO_IDENTITY_OPENID_CLAIM_PREFIX=
    export MINIO_IDENTITY_OPENID_SCOPES=
    export MINIO_IDENTITY_OPENID_REDIRECT_URI=
    export MINIO_IDENTITY_OPENID_ROLE_POLICY=
    export MINIO_IDENTITY_OPENID_DISPLAY_NAME=
---
apiVersion: v1
kind: Secret
metadata:
  name: aistor-gitlab-user
  namespace: gitlab
type: Opaque
stringData:
  ACCESS_KEY:
  SECRET_KEY:
