---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-smartctl-exporter
  namespace: monitoring
spec:
  interval: 20m
  driftDetection:
    mode: enabled
  chartRef:
    kind: OCIRepository
    name: prometheus-smartctl-exporter
    namespace: monitoring
  values:
    fullnameOverride: prometheus-smartctl-exporter
    serviceMonitor:
      enabled: true
    prometheusRules:
      enabled: true
