---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: prometheus-smartctl-exporter
  namespace: monitoring
spec:
  interval: 30m
  timeout: 3m
  url: oci://ghcr.io/prometheus-community/charts/prometheus-smartctl-exporter
  ref:
    tag: 0.16.0
