---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: keycloak
resources:
  - https://raw.githubusercontent.com/keycloak/keycloak-k8s-resources/26.3.2/kubernetes/kubernetes.yml
#  - https://github.com/keycloak/keycloak-k8s-resources/raw/26.3.2/kubernetes/kubernetes.yml
