---
apiVersion: v1
kind: Secret
metadata:
  name: loki-helm-values
  namespace: monitoring
type: Opaque
stringData:
  values.yaml: |
    loki:
      storage:
        s3:
          endpoint:
          region:
          accessKeyId:
          secretAccessKey:
          s3ForcePathStyle:
