---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/k8snetworkplumbingwg/multus-cni/refs/tags/v4.2.4/deployments/multus-daemonset-thick.yml
patches:
  - patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: multus-daemon-config
        namespace: kube-system
      data:
        daemon-config.json: |
          {
            "chrootDir": "/hostroot",
            "cniVersion": "0.3.1",
            "logLevel": "verbose",
            "logToStderr": true,
            "cniConfigDir": "/host/etc/cni/net.d",
            "multusAutoconfigDir": "/host/etc/cni/net.d",
            "multusConfigFile": "auto",
            "socketDir": "/host/run/multus/",
            "type": "cilium-cni"
          }
    target:
      kind: ConfigMap
      name: multus-daemon-config
      namespace: kube-system
