---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: bentopdf
  namespace: flux-system
spec:
  dependsOn:
    - name: crds
  interval: 1h
  path: ./apps/bentopdf
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-vars
