---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metrics-server
  namespace: flux-system
spec:
  interval: 30m
  path: ./apps/metrics-server
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
