---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: outline
  namespace: flux-system
spec:
  interval: 1h
  path: ./apps/outline
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-vars
  decryption:
    provider: sops
    secretRef:
      name: sops-age
