---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: velero
  namespace: flux-system
spec:
  dependsOn:
    - name: crds
  interval: 1h
  path: ./apps/velero
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
